/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #044685;
    /* Fondo azul claro */
    display: flex;
    /* Usamos flex para distribuir los ítems */
    justify-content: space-between;
    /* Distribuye los elementos entre los extremos */
    align-items: center;
    /* Alineación vertical centrada */
    width: 100%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

ul.menu li {
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

ul.menu li a:hover {
    background-color: #2196f3;
    /* Azul más oscuro al pasar el ratón */
}

/* Posicionamiento del ítem Perfil a la derecha */
ul.menu .perfil {
    margin-left: auto;
    /* Empuja el ítem 'Perfil' hacia la derecha */
}

/* Estilos del submenú dentro de 'Perfil' */
ul.menu .perfil .submenu-items {
    text-align: left;
    /* Alineación para los elementos del submenú */
}

/* Estilo para el submenú */
ul.submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1465bb;
    /* Azul más oscuro */
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
}

ul.submenu-items li a {
    padding: 12px;
    color: white;
}

ul.submenu-items li a:hover {
    background-color: #2196f3;
    /* Color de hover más claro */
}

/* Mostrar el submenú al pasar el ratón sobre el elemento principal */
.submenu:hover .submenu-items {
    display: block;
}

/* Estilos para el contenedor 'horizontal' */
.horizontal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* Esto distribuye el contenido entre el espacio disponible */
    align-items: center;
    /* Alineación vertical de los elementos */
}